project:
  type: website

website:
  google-analytics: 
    tracking-id: "G-BRNYXN29K7"
    anonymize-ip: true
  cookie-consent: true
  announcement:
    icon: megaphone
    content: "**Happy new year 2026!** - AI code assistant [Elendil TA](https://chatgpt.com/g/g-68e6907c12a48191a07fb0888500a7fa-elendil-ta) is now available! Click the icon in the navbar to start using it."
    position: below-navbar
  
  title: "Time Series Forecasting"
  
  page-navigation: true
  back-to-top-navigation: true
  reader-mode: true
  draft-mode: visible
  
  repo-url: https://github.com/pbenavidesh/narsil
  repo-actions: [edit, issue]
  
  favicon: images/narsil_logo.png
  open-graph: true
  twitter-card: 
    creator: "@PabsBenavides"
  
  navbar:
    background: primary
    logo: images/iteso_logo_blanco.png
    search: true
    tools:
      - icon: github
        href: https://github.com/pbenavidesh/narsil
    left:
      - text: "Home"
        href: index.qmd
      - text: "Modules"
        href: docs/modules/index.qmd
      - text: "Exercises"
        href: docs/exercises/index.qmd
      - text: "More"
        href: docs/more/index.qmd
      - text: "About"
        href: docs/about.qmd
      - text: "Elendil TA"
        icon: openai
        href: https://chatgpt.com/g/g-68e6907c12a48191a07fb0888500a7fa-elendil-ta
        target: "_blank"
  
  sidebar: 
   - id: modules
     title: "Modules"
     style: "docked"
     collapse-level: 1
     contents:
      - section: "1. Forecasting models based on decomposition methods"
        contents: 
         - text: "1.0 Introduction"
           href: docs/modules/module_1/00_intro/intro.qmd
         - text: "1.1 RStudio, R, and Time Series"
           href: docs/modules/module_1/01_time_series/r_time_series.qmd
         - text: "1.2 Time Series Decomposition"
           href: docs/modules/module_1/02_ts_dcmp/ts_dcmp.qmd
         - text: "1.3 Forecasting principles"
           href: docs/modules/module_1/03_fcst/forecasting.qmd
         - text: "1.4 The Forecasting Workflow"
           href: docs/modules/forecasting_workflow.qmd
           
      - section: "2. Adding ETS and ARIMA filters"
        contents: 
         - text: "2.1 Exponential Smoothing"
           href: docs/modules/module_2/01_ets/ets.qmd
         - text: "2.2 Identifying Stationarity"
           href: docs/modules/module_2/02_stationarity/stationarity.qmd
         - text: "2.3 ARIMA models"
         
         - text: "2.4 Decomposition & ETS/ARIMA"
      
      
      - section: "3. Adding exogenous variables to the model"
        contents:
         - text: "3.1 Linear Regression Models"
           href: docs/modules/module_3/01_regression/regression.qmd
         
         - text: "3.2 Build dynamic regressions"
         
         - text: "3.3 Analyze the model's performance"
         
         - text: "3.4 Choose the best variables for the model"
         
         
      - section: "4. Forecasting at scale"
        contents: 
         - text: "4.1 Understanding the challenges and approaches when dealing with multiple time series"
         
         - text: "4.2 Applying hierarchical and reconciliation models"
         
         - text: "4.3 Efficient forecasting workflow"
         
         - text: "4.4 Evaluation of the global performance"
      
   - id: more
     title: "More"
     contents: 
      - section: "Univariate models"
        contents: 
         - text: "Exponential Smoothing"
         - text: "Dummy file"
           href: docs/ts_analysis/dummy_file.qmd
      

format:
  html:
    theme:
     light: zephyr
     dark: darkly
    css: styles.css
    code-annotations: below
    code-fold: show
    number-sections: true
    toc: true
    smooth-scroll: true
    table:
     striped: true
     hover: true
     responsive: true
    html-math-method: katex
  revealjs:
    width: 1600
    height: 900
    margin: 0.03
    scrollable: true
    incremental: true
    chalkboard: true
    controls: true
    transition: slide
    theme: serif
    logo: images/iteso_logo.png
    footnotes-hover: true
    footer: "Time Series Forecasting"
    code-annotations: hover
    slide-number: true
    preview-links: true
    number-sections: false
    toc: false
    reference-location: document
    table:
     striped: true
     hover: true
     responsive: true
    html-math-method: katex
comments:
  hypothesis:
    theme: classic
author: ""
code-link: true
code-overflow: wrap
link-external-newwindow: true
df-print: paged
execute: 
  echo: true
highlight-style: atom-one
prefer-html: true
date-modified: last-modified
lightbox: true