/* css styles */

p {
  text-align: justify;
}

:not(pre)>code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 3px;
  padding: 0.1em 0.3em;
}

.quarto-dark :not(pre)>code {
  color: #f0a0b8;
  background-color: #3a2a2e;
}